version: '3.8'

services:
  bot:
    build: .
    container_name: match_transcriber
    restart: unless-stopped
    # Подключаем файл с настройками
    env_file:
      - .env
    # Пробрасываем папки, чтобы файлы не пропадали после остановки
    volumes:
      - ./reports:/app/reports
    extra_hosts:
      - "host.docker.internal:host-gateway"